h1{
    color: rgb(0, 191, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align:right;
}
h2{
    color: chocolate;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}
h5{
    color: coral;
    font-size: 25px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    background-color: yellow;
}
.parrafo01{
    color: deeppink;background-color: aquamarine;
}
.parrafo02{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: blue;
}